
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Club</h1>
    <p>Please use our Registration Form to register as a new user!</p>
</div>
